// Place all the styles related to the Forecasts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

body h1 {
  
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 100;
  font-size: 2.4rem;
  text-align: center;
}

.gif {
  width: 88%;
  height: auto;
}

.page-wrapper {
  margin: 0 30%;
}

.search-field {
  border: 3px solid black;
  border-radius: 30px 0 0 30px;
  width: 86%;
  height: 60px;
  padding: 15px;
  font-size: 1.3rem;
  background-color: #eee;
}

.search-button {
  position: relative;
  right: 10px;
  border: 3px solid black;
  border-radius: 0 30px 30px 0;
  height: 60px;
  width: 13%;
  font-size: 1.3rem;
  background-color: #3faaa5;
}
