* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
    height:100%;
}

body h1 {
  
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 100;
  font-size: 2.4rem;
  text-align: center;
}

.title {
  margin: 15px;
}

.gif {
  height: 580px;
  width: 650px;
  margin-bottom: 30px;
}

.gif-container {
  position: relative;
}


.page-wrapper {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: start;
}

.search {
  margin-bottom: 15px;
}

.search-field {
  border: 3px solid black;
  border-radius: 30px 0 0 30px;
  width: 300px;
  height: 35px;
  padding: 15px;
  font-size: 0.8rem;
  background-color: #eee;
}

.search-button {
  position: relative;
  right: 10px;
  border: 3px solid black;
  border-radius: 0 30px 30px 0;
  height: 36px;
  width: 40px;
  font-size: 0.8rem;
  background-color: #3faaa5;
}

.weather-description {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 0 7px 0; 
  text-align: center; 
}

.weather-attribute {
  position: absolute;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  font-weight: 900;
}

.temperature {
  font-size: 2.4rem;
  -webkit-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  -moz-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  -o-animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
  animation: moveX 3.05s linear 0s infinite alternate, moveY 3.4s linear 0s infinite alternate;
}

.humidity {
  top: 0;
  left: 0;
  font-size: 2rem;
  -webkit-animation: moveX-humidity 3.5s linear 0s infinite alternate, moveY-humidity 6s linear 0s infinite alternate;
  -moz-animation: moveX-humidity 3.5s linear 0s infinite alternate, moveY-humidity 6s linear 0s infinite alternate;
  -o-animation: moveX-humidity 3.5s linear 0s infinite alternate, moveY-humidity 6s linear 0s infinite alternate;
  animation: moveX-humidity 3.5s linear 0s infinite alternate-reverse, moveY-humidity 6s linear 0s infinite alternate;
}

.wind {
  top: 0;
  left: 0;
  font-size: 2rem;
  -webkit-animation: moveX-wind 3.7s linear 0s infinite alternate, moveY-wind 2.5s linear 0s infinite alternate;
  -moz-animation: moveX-wind 3.7s linear 0s infinite alternate, moveY-wind 2.5s linear 0s infinite alternate;
  -o-animation: moveX-wind 3.7s linear 0s infinite alternate, moveY-wind 2.5s linear 0s infinite alternate;
  animation: moveX-wind 3.7s linear 0s infinite alternate-reverse, moveY-wind 2.5s linear 0s infinite alternate;
}

// KEYFRAMES

// temperature:

@-webkit-keyframes moveX {
  from { left: -5px; } to { left: 580px; }
}
@-moz-keyframes moveX {
  from { left: -5px; } to { left: 580px; }
}
@-o-keyframes moveX {
  from { left: -5px; } to { left: 580px; }
}
@keyframes moveX {
  from { left: -5px; } to { left: 580px; }
}
@-webkit-keyframes moveY {
  from { top: -5px; } to { top: 545px; }
}
@-moz-keyframes moveY {
  from { top: -5px; } to { top: 545px; }
}
@-o-keyframes moveY {
  from { top: -5px; } to { top: 545px; }
}
@keyframes moveY {
  from { top: -5px; } to { top: 545px; }
}

// humidity:

@-webkit-keyframes moveX-humidity {
  from { left: -5px; } to { left: 465px; }
}
@-moz-keyframes moveX-humidity {
  from { left: -5px; } to { left: 465px; }
}
@-o-keyframes moveX-humidity {
  from { left: -5px; } to { left: 465px; }
}
@keyframes moveX-humidity {
  from { left: -5px; } to { left: 465px; }
}
@-webkit-keyframes moveY-humidity {
  from { top: -5px; } to { top: 550px; }
}
@-moz-keyframes moveY-humidity {
  from { top: -5px; } to { top: 550px; }
}
@-o-keyframes moveY-humidity {
  from { top: -5px; } to { top: 550px; }
}
@keyframes moveY-humidity {
  from { top: -5px; } to { top: 550px; }
}

// wind:

@-webkit-keyframes moveX-wind {
  from { left: -5px; } to { left: 465px; }
}
@-moz-keyframes moveX-wind {
  from { left: -5px; } to { left: 465px; }
}
@-o-keyframes moveX-wind {
  from { left: -5px; } to { left: 465px; }
}
@keyframes moveX-wind {
  from { left: -5px; } to { left: 485px; }
}
@-webkit-keyframes moveY-wind {
  from { top: -5px; } to { top: 550px; }
}
@-moz-keyframes moveY-wind {
  from { top: -5px; } to { top: 550px; }
}
@-o-keyframes moveY-wind {
  from { top: -5px; } to { top: 550px; }
}
@keyframes moveY-wind {
  from { top: -5px; } to { top: 550px; }
}






